---
import Layout from '../layouts/Layout.astro';
const title = "About the author."
---

<Layout title={title}>
	<h1>About the author</h1>
	<p>Hi there! I am Yeray Díaz, a full-stack developer. Currently I work at the engineering corps department of MongoDB.</p>
</Layout>
