---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const title = "Fast DDD";
const courseEntries = await getCollection('course');
---

<Layout title={title}>
    <section class="index__first_section ripple-background">
      <div>
        <h1 class="index__heading">Fast DDD</h1>
        <p class="index__subheading">
          Practical domain driven design. 
        </p>
        <a
          href="/Fast-DDD/course/unit-1"
        >Start here</a>
      </div>

    </section>
    <section class="index__second_section">
      <h1 class="index__heading">Course content</h1>
      <ul>
        {courseEntries.map(blogPostEntry => (
          <li>
            <a href={`/Fast-DDD/course/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
          </li>
        ))}
      </ul>
    </section>
</Layout>

