---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<nav >
			<a href="/Fast-DDD/">Home</a>
			<a href="/Fast-DDD/about/">About</a>
		</nav>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	main {
	  display: flex;
	  flex-direction: column;
	}
	
	body{
	  background: #3399ff;
	  color: white;
	}
	
	.index__first_section {
	  height: 90vh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	h1 {
	  font-weight: 800;
	  font-size: 8rem;
	}
	
	.circle{
	  position: absolute;
	  right: 0;
	  border-radius: 50%;
	  background: white;
	  animation: ripple 15s infinite;
	  box-shadow: 0px 0px 1px 0px #508fb9;
	  z-index: -1;
	}
	
	.small{
	  width: 200px;
	  height: 200px;
	  right: -100px;
	  bottom: -100px;
	}
	
	.medium{
	  width: 400px;
	  height: 400px;
	  right: -200px;
	  bottom: -200px;
	}
	
	.large{
	  width: 600px;
	  height: 600px;
	  right: -300px;
	  bottom: -300px;
	}
	
	.xlarge{
	  width: 800px;
	  height: 800px;
	  right: -400px;
	  bottom: -400px;
	}
	
	.xxlarge{
	  width: 1000px;
	  height: 1000px;
	  right: -500px;
	  bottom: -500px;
	}
	
	.shade1{
	  opacity: 0.2;
	}
	.shade2{
	  opacity: 0.5;
	}
	
	.shade3{
	  opacity: 0.7;
	}
	
	.shade4{
	  opacity: 0.8;
	}
	
	.shade5{
	  opacity: 0.9;
	}
	
	@keyframes ripple{
	  0%{
		transform: scale(0.8);
	  }
	  
	  50%{
		transform: scale(1.6);
	  }
	  
	  100%{
		transform: scale(0.8);
	  }
	}
	
	</style>
	